In [2]:
import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris

In [4]:
plt.style.use('ggplot')
%matplotlib inline

In [5]:
data = load_iris()

In [6]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [19]:
df['class'] = data.target

In [21]:
df['class'] = df['class'].map({0:data.target_names[0],1:data.target_names[1],2:data.target_names[2]})

In [28]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,wide petal,petal area
0,5.1,3.5,1.4,0.2,setosa,0,0.28
1,4.9,3.0,1.4,0.2,setosa,0,0.28
2,4.7,3.2,1.3,0.2,setosa,0,0.26
3,4.6,3.1,1.5,0.2,setosa,0,0.30
4,5.0,3.6,1.4,0.2,setosa,0,0.28

In [24]:
df['wide petal'] = df['petal width (cm)'].apply(lambda s: 1 if s>df['petal width (cm)'].mean() else 0)

In [27]:
df['petal area'] = df.apply(lambda d: d['petal length (cm)']*d['petal width (cm)'], axis=1)

In [29]:
ds = df.copy(deep=True)

In [30]:
ds.applymap(lambda c: np.log(c) if isinstance(c, float) else c)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,wide petal,petal area
0,1.629241,1.252763,0.336472,-1.609438,setosa,0,-1.272966
1,1.589235,1.098612,0.336472,-1.609438,setosa,0,-1.272966
2,1.547563,1.163151,0.262364,-1.609438,setosa,0,-1.347074
3,1.526056,1.131402,0.405465,-1.609438,setosa,0,-1.203973
4,1.609438,1.280934,0.336472,-1.609438,setosa,0,-1.272966
...,...,...,...,...,...,...,...
145,1.902108,1.098612,1.648659,0.832909,virginica,1,2.481568
146,1.840550,0.916291,1.609438,0.641854,virginica,1,2.251292
147,1.871802,1.098612,1.648659,0.693147,virginica,1,2.341806
148,1.824549,1.223775,1.686399,0.832909,virginica,1,2.519308
149,1.774952,1.098612,1.629241,0.587787,virginica,1,2.217027